* {
    --cf: #41403f;
    --cp:white;
    --csh:rgba(247, 254, 255, 0.1);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cp);
}
button{
    margin: 10px;
    padding: 0.5em;
    background-color: aqua;
    border-radius: 20px;
}
textarea{
    height: 100px;
}

a {
    color: var(--cp);
    text-decoration: none;
}
li>a{
    color: var(--cf);
}

h3 {
    color: var(--cp);
    text-align: center
}

#headerBar {
    display: flex;
    flex-direction: row;
    background-color: var(--cf);
    width: 100%;


}

#imagelogo {
    position: absolute;
    top: 10px;
    left: 10px;
    margin-top: 0%;
    margin-bottom: 0%;
    width: 100px;
    border-radius: 20px;
}

#title {
    background-color: var(--cp);
    color: var(--cf);
    text-align: center;
    font-style: oblique;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    font-size: x-large;

}
#contourTitle{
    border: 5px solid var(--csh);
    border-radius: 20px;
    width: 85%;
    margin: 10px 50px 10px 170px;
    padding: 0px 0px 0px 0px;
}
#frstView {
    width: 100%;
    height: max-content;
    background-color: var(--cf);
    display: flex;
    flex-direction: row;
    padding-bottom: 0%;

}
#annuaire {
    background-color: var(--cp);
    width: max-content;
    height: max-content;
    text-align: center;
    border-radius: 15px;
    visibility: hidden;
    margin-left: 20px;
}
#butAndAnnuaireColomn{
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 999;

}
#afficher{
    width: max-content;
    height: max-content;
    background-color: var(--csh);
    color: var(--cp);
    padding: 0.5em;
}
#cacher{
    width: max-content;
    height: max-content;
    background-color: var(--cf);
    color: var(--cp);
    display: none;
}

.annuaireDivs {
    background-color: var(--cp);
    color: var(--cp);
    width: 150px;
    height: max-content;
    text-align: center;
    padding: 15px;
}
.annuaireDivs:last-child,
.annuaireDivs:first-child{
    border-radius: 50%;
   

}
 




.annuaireItems {
    padding: 1em;
    background-color: var(--cf);
    border-radius: 20px;
    border:5px solid var(--csh);
    width: 130px;
    height: max-content;

}








.chapterTitle {
    text-align: center;
    font-size: large;
    width: 70%;
    margin:2em;
    margin-left: 15%;
    color: var(--cp);
    background-color: var(--cf);
    border: 5px solid var(--csh);
    padding: 2px;
    border-radius: 20px;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-row {
    flex-direction: row;
}

#SitesWebSection{
background-color: var(--cf);
margin-top: 50px;
margin-bottom: 50px;
}

.appItems {
    margin: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: var(--csh);
    color: var(--cp);
    border-radius: 20px;
    display: inline-block;
    position: relative;
}
.appItems:hover{
    background-color: gray;
    color: var(--cp);
    cursor: pointer;
}


#appSection {
    width: 100%;
    background-color: var(--cf);
}

.appItems::before,
.appItems::after{
    position: absolute;
    --sc:0;
    top:118px;
    left:-30px ;
    transform: scale(var(--sc));
    transition: 150ms transform;
    transform-origin: top center;
}
.appItems::before{
    content:attr(data-tooltip);
    width: max-content;
    max-width: 150px;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 1em;
    background-color: var(--cf);
    z-index: 3;
}
.appItems::after{
    content:" ";
    border: 12px solid transparent;
    border-bottom-color: var(--cf);
    transition: 150ms transform;
    transform-origin: bottom center;
    top:95px;
    left: 45px;
}
.appItems:hover::before,
.appItems:hover::after{
    --sc:1;
}
#idf{
    width:100px;
    height:100px;
    background-color: red;
    display: none;
}



#footerBar{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    background-color: var(--cf);
    color: var(--cp);
    text-align: center;
    border-left: 2px solid var(--csh);
    margin-bottom: 0px;


}

#listSites{
    list-style: none;
}

#contacter{
    width: 50%;
    background-color: var(--cp);
    color: var(--cf);
    text-align: center;
    padding-top: 1em;
}

#ref{
    width: 50%;
    background-color: var(--cp);
    color: var(--cf);
    text-align: center;
    padding-top: 1em;
    margin-bottom: 0%;
}