* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #41403f;
    height: 100%;
}

#headerBar {
    display: flex;
    flex-direction: row;
    background-color: rgb(6, 5, 5);
    width: 100%;


}

#imagelogo {
    text-align: left;
    margin-top: 0%;
    margin-bottom: 0%;
    width: 100px;
}

#title {
    background-color: white;
    flex: 1;
    text-align: center;
    font-style: oblique;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    font-size: x-large;

}

#annuaire {
    background-color: white;
    width: 20%;
    height: 470px;
    text-align: center;
}

.annuaireDivs {
    background-color: white;
    color: white;
    height: 25%;
    padding: 20px;
}

.annuaireItems {
    height: 4em;
    padding: 1em;
    background-color: black;
    border-radius: 20px;

}

#frstView {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    padding-bottom: 0%;

}

a {
    color: blanchedalmond;
    text-decoration: none;
}

h3 {
    color: azure;
    text-align: center
}

.sectionTitle {
    text-align: center;
    font-size: large;
    width: 100%;
    color: black;
    background-color: white;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-row {
    flex-direction: row;
}

.appItems {
    margin: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(247, 254, 255, 0.1);
    border-radius: 20px;
    display: inline-block;
    position: relative;
}

#appSection {
    width: 100%;
    background-color: rgba(247, 254, 255, 0.1);
}


.appItems:hover::before {
    z-index: 3;
    position: absolute;
    content: attr(data-tooltip);
    width: max-content;
    max-width: 120px;
    transition: 500ms;
    top: 100px;
    left: -13px;
    background: #0c0909;
    color: rgb(7, 241, 241);
    border-radius: 20px;
    padding: 1em;

}